# Scrape Data From Monster

In [19]:
# Get the text data from the first job posting
import pandas as pd
import requests # For website connections
from bs4 import BeautifulSoup # For HTML parsing
import time # For sleep 
from nltk.corpus import stopwords # Filter oustopwordsopwords, such as 'the', 'or', 'and'
stop_words = set(stopwords.words("english")) #initialize stopwords    
import re # Regular expressions
from itertools import groupby

# Initialize the Dictionary

In [20]:
#Initialize Empty State Set
state = []
job_title = []

#Initialize Empty Skills List
r = []
python = []
java = []
cpp = []
ruby = []
perl = []
matlab = []
javascript = []
scala = []
excel = []
vba = []
tableau = []
d3 = []
hadoop = []
mapreduce = []
spark = []
pig = []
hive = []
shark = []
oozie = []
zookeeper = []
flume = []
mahout = []
sql = [] 
mysql = []
oracle = []
postgresql = []
nosql =[]
sybase = []
rethinkdb = []
memcacheddb = []
couchdb = []
hbase = []
cassandra = []
mongodb = []
db2 = []

skills = ['python',
'java',
'cpp',
'ruby',
'perl',
'matlab',
'javascript',
'scala', 
'excel',
'vba',
'tableau',
'd3',
'hadoop',
'mapreduce',
'spark',
'pig',
'hive',
'shark',
'oozie',
'zookeeper',
'flume',
'mahout',
'sql', 
'mysql',
'oracle',
'postgresql',
'nosql',
'sybase',
'rethinkdb',
'memcacheddb',
'couchdb',
'hbase',
'cassandra',
'mongodb',
'db2'
]

otherInfo = ['state','job_title']

columns = otherInfo + skills

## Get a URL for a Job Search for a chosen State

In [21]:
url_state = 'NY'
url = "https://www.monster.com/jobs/search/?q=Data-Scientist&where="+url_state

### Store the job search in a beautiful soup object

In [22]:
url = 'https://www.monster.com/jobs/search/?q=data-scientist&where='+url_state+'&stpage=1&page='+'10'

In [23]:
#Access the website
response = requests.get(url)
##print(response)  #Response 200 means the get request was a success
soup = BeautifulSoup(response.text, "html.parser")

#### Get job post URLs on first page

In [24]:
#Access every URL with the find_all function
##print(soup.find_all('a'))
links = []
#Access every URL within the list of returned urls from findall
for link in soup.find_all('a'):
    if link.get('href')[0:21] == 'https://job-openings.': ## a job opening always begins with 'https://job-openings.monster.com'
        links.append(link.get('href'))

In [25]:
len(links)

250

In [26]:
#Get the total number of listed jobs 
totalJobOpenings = float(re.sub('[^0-9]','',soup.html.body.find_all('h2')[0].text.strip()))

In [27]:
# there will be a page for every 25 urls 
# for 1473 pages there are int(1473/25) pages
num_pages = str(min(10,int(totalJobOpenings/25)))
# Make a URL for up to the first 250 links

## Get ALL job url posts from the state (up to the first 250)

In [28]:
url = 'https://www.monster.com/jobs/search/?q=data-scientist&where='+url_state+'&stpage=1&page='+num_pages

#### Get job post URLs on first page

In [29]:
#Access every URL with the find_all function
##print(soup.find_all('a'))
links = []
#Access every URL within the list of returned urls from findall
for link in soup.find_all('a'):
    if link.get('href')[0:21] == 'https://job-openings.': ## a job opening always begins with 'https://job-openings.monster.com'
        links.append(link.get('href'))

In [30]:
num_job_openings = len(links)

In [31]:
print( 'The number of job openings in {} are (at least): {}'.format(url_state,num_job_openings))

The number of job openings in NY are (at least): 250

# Initialize the dictionaries

In [32]:
#Initialize Empty State Set
state = []
job_title = []
#Initialize Empty Skills List
r = []
python = []
java = []
cpp = []
ruby = []
perl = []
matlab = []
javascript = []
scala = []
excel = []
vba = []
tableau = []
d3 = []
hadoop = []
mapreduce = []
spark = []
pig = []
hive = []
shark = []
oozie = []
zookeeper = []
flume = []
mahout = []
sql = [] 
mysql = []
oracle = []
postgresql = []
nosql =[]
sybase = []
rethinkdb = []
memcacheddb = []
couchdb = []
hbase = []
cassandra = []
mongodb = []
db2 = []

skills = ['python',
'java',
'cpp',
'ruby',
'perl',
'matlab',
'javascript',
'scala', 
'excel',
'vba',
'tableau',
'd3',
'hadoop',
'mapreduce',
'spark',
'pig',
'hive',
'shark',
'oozie',
'zookeeper',
'flume',
'mahout',
'sql', 
'mysql',
'oracle',
'postgresql',
'nosql',
'sybase',
'rethinkdb',
'memcacheddb',
'couchdb',
'hbase',
'cassandra',
'mongodb',
'db2'
]

otherInfo = ['state','job_title']

columns = otherInfo + skills

# Skill Check Function

In [33]:
def addValsToDict(url_state,url_job_title):
    #Append state
    state.append(url_state)

    #Append job_title
    job_title.append(url_job_title)

    #Check if the values are in the dataframe
    if ('r' in text_final) == True:
        r.append(1)
    else: 
        r.append(0)

    if ('python' in text_final) == True:
        python.append(1)
    else: 
        python.append(0)

    if ('java' in text_final) == True:
        java.append(1)
    else: 
        java.append(0)

    if ('c++' in text_final) == True:
        cpp.append(1)
    else: 
        cpp.append(0)

    if ('ruby' in text_final) == True:
        ruby.append(1)
    else: 
        ruby.append(0)

    if ('perl' in text_final) == True:
        perl.append(1)
    else: 
        perl.append(0)

    if ('matlab' in text_final) == True:
        matlab.append(1)
    else: 
        matlab.append(0)

    if ('javascript' in text_final) == True:
        javascript.append(1)
    else: 
        javascript.append(0)

    if ('scala' in text_final) == True:
        scala.append(1)
    else: 
        scala.append(0)

    if ('excel' in text_final) == True:
        excel.append(1)
    else: 
        excel.append(0)

    if ('vba' in text_final) == True:
        vba.append(1)
    else: 
        vba.append(0)

    if ('tableau' in text_final) == True:
        tableau.append(1)
    else: 
        tableau.append(0)

    if ('d3' in text_final) == True:
        d3.append(1)
    else: 
        d3.append(0)

    if ('hadoop' in text_final) == True:
        hadoop.append(1)
    else: 
        hadoop.append(0)

    if ('mapreduce' in text_final) == True:
        mapreduce.append(1)
    else: 
        mapreduce.append(0)

    if ('spark' in text_final) == True:
        spark.append(1)
    else: 
        spark.append(0)

    if ('pig' in text_final) == True:
        pig.append(1)
    else: 
        pig.append(0)

    if ('hive' in text_final) == True:
        hive.append(1)
    else: 
        hive.append(0)

    if ('shark' in text_final) == True:
        shark.append(1)
    else: 
        shark.append(0)

    if ('oozie' in text_final) == True:
        oozie.append(1)
    else: 
        oozie.append(0)

    if ('zookeeper' in text_final) == True:
        zookeeper.append(1)
    else: 
        zookeeper.append(0)

    if ('flume' in text_final) == True:
        flume.append(1)
    else: 
        flume.append(0)

    if ('mahout' in text_final) == True:
        mahout.append(1)
    else: 
        mahout.append(0)

    if ('sql' in text_final) == True:
        sql.append(1)
    else: 
        sql.append(0)

    if ('mysql' in text_final) == True:
        mysql.append(1)
    else: 
        mysql.append(0)

    if ('oracle' in text_final) == True:
        oracle.append(1)
    else: 
        oracle.append(0)

    if ('postgresql' in text_final) == True:
        postgresql.append(1)
    else: 
        postgresql.append(0)

    if ('nosql' in text_final) == True:
        nosql.append(1)
    else: 
        nosql.append(0)

    if ('sybase' in text_final) == True:
        sybase.append(1)
    else: 
        sybase.append(0)

    if ('rethinkdb' in text_final) == True:
        rethinkdb.append(1)
    else: 
        rethinkdb.append(0)

    if ('memcacheddb' in text_final) == True:
        memcacheddb.append(1)
    else: 
        memcacheddb.append(0)

    if ('couchdb' in text_final) == True:
        couchdb.append(1)
    else: 
        couchdb.append(0)

    if ('hbase' in text_final) == True:
        hbase.append(1)
    else: 
        hbase.append(0)

    if ('cassandra' in text_final) == True:
        cassandra.append(1)
    else: 
        cassandra.append(0)

    if ('mongodb' in text_final) == True:
        mongodb.append(1)
    else: 
        mongodb.append(0)

    if ('db2' in text_final) == True:
        db2.append(1)
    else: 
        db2.append(0)

In [34]:
count = 0

# Check Each Link in State

In [35]:
for job_opening_url in links:
    count += 1
    print(count)
    # sleep for .01 btw requests to not simulate ddos attack or w/e
    time.sleep(.01)
    
    #Access the website
    response = requests.get(job_opening_url)
    
    #Get the html soup!
    soup = BeautifulSoup(response.text, "html.parser")
    
    #Get the job title from the html soup
    url_job_title = soup.title.string[0:-14] # the last 14 characters are  '| Monster.com'
    
    #Get and clean the text from the job posting
    text = soup.body.find_all('script')[1]

    # Convert to string -> Convert to lower case 
    ## -> replace (all non ascii characters, ., and 3) with ','
    ### -> split string into a list separated by ','-> remove all consecutive duplicates 

    text_newest = [x[0] for x in groupby([x[0] for x in groupby(re.sub("[^a-zA-Z.+3]",',',str(text).lower()).split(','))])]

    #Remove the stopwords and empty spaces
    text_final = [x for x in text_newest if not x in stop_words and not x =='']
    
    #Add the values to the Dictionary
    addValsToDict(url_state,url_job_title)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250

In [36]:
addValsToDict(url_state,url_job_title)

# Put the dictionary together

In [37]:

dictionary = {'job_title':job_title,
     'state':state,
     'r':r,
     'python':python,
     'java':java,
     'c++':cpp,
     'ruby':ruby,
     'perl':perl,
     'matlab':matlab,
     'javascript':javascript,
     'scala':scala,
     'excel':excel,
     'vba':vba,
     'tableau':tableau,
     'd3':d3,
     'hadoop':hadoop,
     'mapreduce':mapreduce,
     'spark':spark,
     'pig':pig,
     'hive':hive,
     'shark':shark,
     'oozie':oozie,
     'zookeeper':zookeeper,
     'flume':flume,
     'mahout':mahout,
     'sql':sql, 
     'mysql':mysql,
     'oracle':oracle,
     'postgresql':postgresql,
     'nosql':nosql,
     'sybase':sybase,
     'rethinkdb':rethinkdb,
     'memcacheddb':memcacheddb,
     'couchdb':couchdb,
     'hbase':hbase,
     'cassandra':cassandra,
     'mongodb':mongodb,
     'db2':db2}

# Make the dataframe

In [38]:
#for x in dictionary:
#    print(len(dictionary[str(x)]))
data = pd.DataFrame(dictionary)

In [50]:
data.mean().sort_values()

db2            0.000000
mahout         0.000000
zookeeper      0.000000
oozie          0.000000
memcacheddb    0.000000
rethinkdb      0.000000
shark          0.000000
flume          0.003984
couchdb        0.003984
sybase         0.003984
vba            0.007968
ruby           0.015936
postgresql     0.027888
hbase          0.031873
mapreduce      0.031873
mongodb        0.035857
oracle         0.035857
javascript     0.039841
cassandra      0.043825
mysql          0.047809
perl           0.047809
d3             0.055777
pig            0.059761
matlab         0.091633
nosql          0.103586
c++            0.103586
hive           0.127490
excel          0.127490
scala          0.175299
tableau        0.211155
java           0.239044
hadoop         0.266932
spark          0.270916
sql            0.486056
r              0.533865
python         0.665339
dtype: float64